body{
  background: #f1ca18;
}
.container{
  max-width: 400px;
}
input[type=text],
input[type=text]:focus{
  color: #fff;
  border: 10;
  border-color: white;
  background: rgba(255, 255, 255, 0.2);
  max-width: 400px;
}
.todos li{
  background: #f1ca18;
  border-color: white;
}
.delete{
  cursor: pointer;
}
.filtered{
  display: none !important;
}

.text{
  color: #f1ca18;
}

.buttons{
  position: static;
}

.buttonOne{
  background: #fff;
  border-radius: 10px;
}

.buttonTwo{
  border-radius: 10px;
  border-color: #fff;
  background: #f3e08e;
}
